.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    display: block;
    box-shadow: 0 4px 15px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 300px;
    width: 400px;
    padding: 48px 24px 28px;
    margin: 48px 24px 28px;
    
    
}
.image{
    width: 150px;
    height: 150px;
    background: #0b84ff;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;  
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;

}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    color: dimgray;
    font-weight: bold;
    
}
.rollno{
    display: flex;
    justify-content: center;
    align-items: center;
    color: dimgray;
    font-weight: bold;

}
.year{
    display: flex;
    justify-content: center;
    align-items: center;
    color: dimgray;
    font-weight: bold;
}